<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="2">
	<listeners>
		<listener class-name="com.qa.company.listeners.ListenerClass" />
		<listener class-name="com.qa.company.listeners.MethodInterceptor" />
		<listener class-name="com.qa.company.listeners.AnnotationTransformer" />
	</listeners>
	<test thread-count="1" name="Test" parallel="methods">
		<classes>
			<class name="com.qa.company.tests.OpenMRSTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
